* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(239, 239, 239);
}

.input {
  width: 120px;
  border: 0;
  height: 30px;
  border-radius: 3px;
  margin-right: 5px;
  padding: 5px;
}

.header {
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
  height: 4rem;
  padding: 10px;
}

/* teste */
.trybewarts-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 380px;
}

#submit {
  width: 120px;
  background-color: rgb(78, 44, 131);
  color: white;
  border: 0;
  border-radius: 7px;
  height: 30px;
}

.trybewarts-header-logo {
  width: 50px;
}

#trybewarts-header-title {
  color: white;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 675px;
  background-color: rgb(202, 208, 226);
  border-radius: 10px;
  padding: 40px 0;
}

.container {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  margin-top: 40px;
}

#trybewarts-forms-logo {
  height: 500px;
  margin: 90px 0 0 100px;
}

#textarea {
  resize: none;
}

.text-input {
  width: 250px;
  border: 0;
  height: 30px;
  border-radius: 3px;
  padding: 5px;
}

.text-select {
  width: 210px;
  border: 0;
  height: 30px;
  border-radius: 3px;
  padding: 5px;
}

#mail-container {
  margin-top: 5px;
}

#house-container {
  width: 250px;
}

#house-radio {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

#want-to-learn {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  padding-left: 5px;
}

#want-to-learn div {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  width: 100px;
}

#want-to-learn div label {
  margin-left: 5px;
}

#third-line {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

hr {
  margin-top: 20px;
  width: 600px;
  border: 0;
  background-color: black;
  height: 1px;
}

#rate-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 550px;
}

#text-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 500px;
}

#text-container #counter {
  align-self: flex-end;
}

#agreement-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  width: 380px;
}

#submit-btn {
  width: 500px;
  background-color: grey;
  color: white;
  border: 0;
  border-radius: 7px;
  height: 30px;
  margin-top: 20px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(50, 167, 145);
  height: 4rem;
  padding: 10px;
  margin-top: 40px;
  justify-self: flex-end;
}

#form-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 675px;
  background-color: rgb(202, 208, 226);
  border-radius: 10px;
  padding: 40px 0;
}
