* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input {
  width: 110px;
  border: 0;
  height: 30px;
  border-radius: 3px;
  margin-right: 5px;
  padding: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
  height: 4rem;
  padding: 10px;
}

/* teste */
.trybewarts-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
}

#submit {
  width: 110px;
  background-color: rgb(78, 44, 131);
  color: white;
  border: 0;
  border-radius: 5px;
  height: 30px;
}

.trybewarts-header-logo {
  width: 50px;
}

#trybewarts-header-title {
  color: white;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

.container {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}

#textarea {
  resize: none;
}
